// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

 //$v-background-color: #812;

.loginbox {
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 35px 0px rgba(125,125,125,0.23);
  padding: 50px;
  padding-top:25px;
  padding-bottom: 25px;
}

.button{
    //margin-right: 10px;
}

.loginform{
    //margin: 10px;
}

.debug_layout{
   border: 1px solid red;
}

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
    .v-customcomponent {}
    .v-customcomponent .v-embedded {}
    .v-app-loginpage {}
    .v-app-loginpage .v-textfield {
        border: 1px solid red;
    }
    .v-app-loginpage .v-button  {}

    .v-formlayout {
        //border: 1px solid red;
        margin: 0px;
        padding: 0px;
    }


    .my-form-grid.v-gridlayout-spacing-on {
        padding: 100px;
    }


    .v-table-resizer {
      display: none;
    }

    .v-table .v-icon{
        padding-right: 5px;
    }

    /* Style specifically for the colored cells. */
    .v-table tr.v-table-row:hover,
    .v-table tr.v-table-row-odd:hover {
        background-color: #5C8EBD;
    }

    /* Style specifically for the colored cells. */
    .v-table tr.v-table-row:hover,
    .v-table tr.v-table-row-odd:hover {
        background-color: #5C8EBD;
    }

    .v-table tr.v-selected {
        background: #466c90;
        color: #fff;
    }
}
